@import '../../../styles/variable.scss';

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;
}

form span {
    font-size: 12px;
    text-decoration: underline;
    color: var(--text-secondary);
    text-align: end;
}